## editors
/.idea

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## yarn
yarn-error.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/src/typescript/generated-types.ts

storybook-static
custom-elements.json
